.space-botton {
	padding-bottom: 20px;
}

.space-top {
	padding-top: 10px;
}

.box {
	padding-bottom: 10px;
}

.badge {
	padding: 7px 4px 7px 3px;
}

.space-badge {
	padding-top: 5px;
	padding-bottom: 10px;
	margin-left: -10px;
}

.label-color {
	color: rgb(56, 154, 211);
}

.display-situacao {
	color: rgb(250, 128, 114);
	padding-top: 5px;
}

.custom-switch .custom-control-label {
	color: rgb(250, 128, 114);
}

.custom-switch .custom-control-input:checked ~ .custom-control-label {
	color: rgb(56, 154, 211);
}
